PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=pkbm_bina_mandiri

JWT_SECRET=pkbm_bina_mandiri_super_secret_key_2025
JWT_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:5173